.footer{
    margin-top: 2rem;
    background: linear-gradient(45deg,lightblue,#7094ce);
   
}
.footer_item{
    padding-top: 2rem;
    text-align: center;
}
.icon{
    color: red;
}
.footer_item p{
    color: beige;
}
.header__socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
}