

.hero{
    height: 44rem;
    overflow: hidden;
}
#backgrondimg{
    height: 68rem;
}
.content{
     color: #fbfcfb;
     position:absolute;
     top:50%;
     left: 10%;
     transform: translateY(-50%);
     z-index: 2;
}

h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;

}

.bubbles img{
    width: 50px;
    animation: bubbles 7s linear infinite;
}
.bubbles{
    height: 44rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    bottom: 0;
}
@keyframes bubbles {
    0%{
        transform:translateY(0) ;
        opacity: 0;
    }
    50%{
         
        opacity: 1;
    }
    70%{
         
        opacity: 1;
    }
    100%{
        transform:translateY(-80vh) ;
        opacity: 0;
    }
    
}
.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
    width: 20px;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 30px;
}
.bubbles img:nth-child(4){
    animation-delay: 2s;
    width: 20px;
}
.bubbles img:nth-child(5){
    animation-delay: 4.2s;
    
}
.bubbles img:nth-child(6){
    animation-delay: 3s;
    
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
    width: 15px;
    
}
#backgrondimg{
    width: 100%;
}

@media (max-width: 1024px)  {
    #backgrondimg {
        height: 47rem;}
        .content{
            left: 12%;
        }
    
  }
  @media (max-width: 650px)  {
    .hero {
        width: 45rem;
        height: 41rem;}
        .content {
            left: 21%;}
    
  }
 
  @media (max-width: 820px)  {
    .hero {
        height: 47rem;}
        .content {
            left: 21%;}
    
  }
  @media (max-width: 360px)  {
    #backgrondimg {
        height: 35rem;}
      
    
  }
  @media (max-height: 800px)  {
    .hero{
        height: 36rem;
    }
    #backgrondimg {
        height: 53rem;}
   
    
  }
  @media (max-height: 600px)  {
    .hero{
        height: 28rem;
    }
    #backgrondimg {
        height: 43rem;}
   
    
  }