.upload_container{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.upload_item{
    text-align: center;
    border-radius:2rem ;
    border: 1px transparent;
    background: aliceblue;
}
.upload_item_icon{
    margin-top: 1rem;
    height: 3em;
    width: 3em;
    justify-content: center;
}
.upload_item_2{
    
    text-align: center;
    
}
.upload{
    margin-left:3.5rem;
    margin-bottom: 1rem;
}
.upload h2{
    color: brown;
}
.upload_container h1{
    font-size: 45px;
}